<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/reset.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/css/global.css" crossorigin="anonymous">



    <script type="module" src="/main.js"></script>


    <title>Document</title>
</head>
<body>
    <my-text size="title" color="red" alignCenter>Titulo</my-text>
    <my-text size="subtitle" color="blue" alignCenter>Subtitulo</my-text>
    <my-text size="body" color="green" alignCenter>Parrafo</my-text>
    <custom-input></custom-input>
    <custom-textarea></custom-textarea>
    <my-footer></my-footer>

    <profile-component image="../src/img/logo.jpg" name="Jhon" desc="john es john esjohn esjohn esjohn esjohn esjohn esjohn esjohn esjohn esjohn esjohn esjohn es" ></profile-component>
    <icons-component icon="facebook" link="${this.getAttribute("facebook")}"></icons-component>
    <icons-component icon="facebook" link="${this.getAttribute("facebook")}"></icons-component>

</body>

</html>