<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/reset.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

    <script type="module" src="./main.js"></script>

    <title>Index</title>
</head>
<body>

    <section2-component titulo="HOLA", pPrincipal="LALALFSDGKOSFJGOSDFOIGJHWROIGJIOWR", h2Seccion1="SECCION1", pSeccion1="SECCION1SECCION1SECCION1SECCION1SECCION1 SECCION1SECCION1SECCION1SECCION1SECCION1 SECCION1SECCION1SECCION1SECCION1SECCION1", h2Seccion2="SECCION2", pSeccion2="SECCION2SECCION2SECCION2SECCION2SECCION2SECCION2", h2Seccion3="SECCION3", pSeccion3="SECCION3SECCION3SECCION3SECCION3SECCION3"></section2-component>

    
    <profile-component image="../src/img/logo.jpg" name="Jhon" desc="descdescdescdescdescdescdescdescdescdescdescdescdescdesc" twitter="x.com" linkedin="linkedin.com" facebook="facebook.com"></profile-component>
    <icons-component icon="facebook" link="${this.getAttribute("facebook")}"></icons-component>
    <icons-component icon="instagram" link="${this.getAttribute("instagram")}"></icons-component>
    
    <my-text size="title" color="red" alignCenter>Titulo</my-text>
    <my-text size="subtitle" color="blue" alignCenter>Subtitulo</my-text>
    <my-text size="body" color="green" alignCenter>Parrafo</my-text>
    <custom-input></custom-input>
    <custom-textarea></custom-textarea>
</body>

</html>