header {
    width: calc(100% - 20px);

    display: flex;
    justify-content: space-around; /* Cambio para que se vea mas centrado  */
    align-items: center;

    padding: 0px 10px;
}

img {

    width: 50px;
    aspect-ratio: 1/1;

    border-radius: 50%;
    padding: 10px;
}