body {
    background-color: rgb(211, 211, 211); 
    min-height: 100vh;
    overflow: hidden;
}

.description {
    text-align: center;
}

my-text[size="subtitle"] {
    font-weight: bold;
}

hr {
    width: 90%;
    border: none;
    height: 1px;
    background: linear-gradient(to right, rgba(128, 128, 128, 0), rgba(128, 128, 128, 1), rgba(128, 128, 128, 0));
}

main {
    max-width: 800px;
    margin: 0 auto;
}