

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    background-color: #e89a2f;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    font-size: 18px;
  }

  .icon:hover {
    background-color: #d37f20;
  }

